
/* headers: */
.alinhamento  {
    align-content: center; 
}

/* fonte: */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}


/*buttons: */

.btn-color {
    font-size: larger;
    color:   rgb(17, 94, 194);
}

.btn-color:hover{
    background-color: rgb(17, 94, 194);
    transition: background-color 0.3s ease;
    color: aliceblue;

    
}


/*sections: */

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}


/* hover de imagens e ícones */

.overlay{
  background-color: rgba(13, 91, 122, 0.411);
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transform: scaleY(0);                
  transform-origin: top;
  transition: opacity 1.5s ease, transform 0.6s ease-in-out;
}

.position-relative:hover .overlay {
opacity: 1;
transform: scaleY(1);  
}

.overlayCard {
  background-color: rgba(6, 64, 87, 0.651);
  opacity: 0;
  bottom: 0;
  left:0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: opacity 1.5s ease, transform 0.6s ease-in-out;
}

.position-relative:hover .overlayCard {
opacity: 1;
transform: scaleY(1); 
}






