.alinhamento  {
    align-content: center; 
}
/* headers: */



/*buttons: */

.btn-color {
    font-size: larger;
    color:   rgb(17, 94, 194);
}

.btn-color:hover{
    background-color: rgb(17, 94, 194);
    transition: background-color 0.3s ease;
    color: aliceblue;

    
}


/*sections: */

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}






